extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Chris Faas

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer in the works.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I spent most of my youth growing up and experimenting with software and hardware.  Ask me about "hot swapping" modems back when I was a teen.  I drifted away from tech over the years and have recently renewed interest in pivoting back to software development.
            | The amount that technology has and continues to change has made it clear that the field will always have great opportunities for growth and continued learning; So I am making an concentrated effort to dive deep into learning and refreshing software skills.
            | In addition, I feel that the years that I have spent in more traditional 'business' roles has prepared me and gives me an edge when dealing with all positions and all levels of an organization. 
            | Culture is a big component of any successful team and I have the personality to interact and mesh with anyone. These soft skills are the intangibles that can make or break successful projects. 
            | I believe most people can be trained on the tech skills if they have the right 'continuous and relentless' learning mindset. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript / FullStack development
          li Business Operations
          li Logistics / Distribution
          li Process Improvement
          li Excellent verbal/written communication
          li Public Speaking/Training
          li Lifelong learner
          
        h6 Contact Info

        //- Add your own contact info
        ul
          li Contact at the below email or any of the below media presences.
          li faas001@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/chris-faas-42809174/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/faas001' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/ChrisFaas' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  