extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h5
        img.thumbnail(src='static\\images\\projectPort.jpg')

  
      p.lead.text-light
        | The following are an example of some of the projects I have completed since embarking on refreshing my tech skills. 
        | In most instances all JavaScript coded from scratch to interact with DOM and dynamically create/modify HTML/CSS elements of design template.
        | This portfolio of projects will grow as I continue to create, develop, and learn more of the MEAN/MERP JavaScript full stack development environment.
        
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- The below will loop through the projects array and build each project thumbnail, name, and link for when clicked.
      each project in projects
      
        .cell
          a(href=`/project_${project.id}`)
            img.thumbnail(src=`static\\${project.image_urls[0]}`)
            h5= project.project_name 
      
